:root {
    --c1: #edd6cc;
    --c2: #d3a292;
    --c3: #9eafb6;
    --c4: #ab512f;
    --c5: #233349;
}
  
html {
  scroll-behavior: smooth;
  background-color:var(--c3);
}

#navbar {
  position:fixed;
  background-color:var(--c3);
  height:50px;
  width:100vw;
  text-align:center;
  padding-top:25px;
  margin:0;
  top:0;
  left:0;
  border-bottom:3px solid var(--c5);
}

#navbar a {
  color: var(--c5);
  margin: 80px;
  font-size:20px;
  font-family:monospace;
  padding:3px;

}

#navbar a:hover {
  color:white;
  border-radius:5px;
  background-color: var(--c3);
}

.tile {
  /*
  grid-template-columns: repeat(auto-fit, minmax(min(50rem, 100%), 1fr));
  grid-gap:1rem;
  */
  height:450px;
  background-color: white;
  border: 3px solid var(--c4);
  margin: auto 15%;
  margin-top:-100px;
  padding-top:70px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px var(--c2);
}

#welcome-section{
  height:80vh;
  margin-top:60px;
  text-align:center;
  padding-top:40vh;
  background-color:var(--c1);
  color:var(--c4);
}

h1 {
  font-size:70px;
}

#analysis {
  background-color:var(--c3);
}

#analysis-projects > #analysis-projects-link {
  padding-top:70px;
}

.web-design-projects > #design-projects-link {
  padding-top:70px;
}

figure {
  color:var(--c5);
  margin:20px 15%;
  text-align: center;
  padding:8px;
}

#intro, #intro-text, #data, #data-text, #approach, #approach-text, #summary, #summary-text {
  margin: 8px 55% 0px 2%;
}

#methods {
  margin: -1320px 2% 0px 50%;
}
#methods-text {
  margin: 5px 2% 0px 50%;
}

#fig1 {
  margin: -200px 50% 0px 0px;
  padding-top: 40px;
}

#fig2 {
  margin: 8px 55% 0px 2%;
  padding-top:40px;
}
#fig3 {
  margin: -330px 2% 0px 50%;
}
#fig4 {
  margin: 8px 55% 0px 2%;
  padding-top:30px;
}
#fig5 {
  margin: -335px 2% 0px 50%;
}

#fig6 {
  margin: 8px 55% 0px 2%;
  padding-top:70px;
}
#fig7 {
  margin: -570px 2% 0px 50%;
}

#fig67desc {
  margin: 18px 55% 0px 2%;
}

#fig8 {
  margin: 8px 55% 0px 2%;
  padding-top:70px;
}
#fig9 {
  margin: -520px 2% 0px 50%;
}

#fig89desc {
  margin: 0px 55% 0px 2%;
}

#discussion-text2 {
  margin: 18px 55% 0px 2%;
}

#fig10 {
  margin: -405px 2% 0px 47%;
}

#conclusion {
  margin-top: 80px ;
}

#acknowledgements, #acknowledgements-text {
  margin: 8px 55% 0px 2%;
}

#references{
  margin: -150px 2% 0px 50%;
}
#references-text {
  margin: 8px 2% 50px 50%;
  font-size:smaller;
}

.wide {
  height:300px;
  width:500px;
}

.wider {
  height:300px;
  width:700px;
}

.widest {
  height:300px;
  width:830px;
}

.tall {
  height:700;
  width:600px;
}

figcaption {
  font-family:monospace;
}

#welcome-section p {
  padding: 0 20%;
  font-size:20px;
  font-family:monospace;
}
  
.web-design-projects {
    padding-top:20px;
}

h2{
  text-align:center;
  font-size:30px;
  margin-top:15px;
}

#section-tile {
  height:50px;
  background-color: white;
  box-shadow: 10px 10px var(--c3);
  margin: 20px 15% ;    
  border:3px solid var(--c5);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom:20px;
}

#projects {
  text-align:center;
  background-color:var(--c5);
  color:var(--c5);
  margin-top:0px;
}

.project-title {
  display:inline-block;
  text-align:center;
  width:250px;
  margin:20px;
  background-color:var(--c5);
  color:white;
  font-family:monospace;
  font-size:20px;
  padding-bottom:30px;
}

.project-tile {
  height:200px;
  width:200px;
  border-radius:10px;
  border:3px solid var(--c5);
  margin-top:8px;
}

.project-tile:hover {
  box-shadow:10px 10px  var(--c3);
}
  
.personal-projects p {
  font-family:monospace;
  font-size:20px;
  font-style:italic;
  padding-bottom:30px;
}

#contact {
  height:90vh;
  text-align:center;
  padding-top:40vh;
  background-color:var(--c1);
  color:var(--c4);
  
}

#contact a {
  margin: 20px;
  color: var(--c4);
  font-size:20px;
  font-family:monospace;
  height:30px;
  width:30px;
  padding:8px 5px;
}

#icon {
  height:30px;
  width:30px;
  background-color: black;
  border-radius:5px;
  margin-bottom:-8px;
  margin-right:10px;
}

#contact a:hover {
  color:white;
  border-radius:5px;
  background-color: var(--c2);
  border-radius: 10px;

}

@media (max-width: 1050px) {
  #contact a {
    display: block;
    margin: auto;
    width: 270px; 
  }
}

@media (max-width: 1000px) {
  #contact h1 {
    font-size: 60px;
  }
}

@media (max-width:800px) {
  h1 {
    font-size:50px;
  }
  #welcome-section p {
    font-size:18px;
    margin-top: 50px;
  }
  #navbar a {
    margin:20px;
  }
  h2 {
    font-size:25px;
  }
  .data-vis-projects h2 {
    margin-top: 20px;
  }
}

@media (max-width:620px) {
  #welcome-section p {
    margin-top:-20px;
  }
  h2 {
    margin-top:5px;
  }
  .web-design-projects h2 {
    margin-top: 20px;
  }
}
/*
img:hover during{

}
*/ 
